body{
    background-image: url(https://thumbs.dreamstime.com/z/d-glowing-neon-symbol-icon-calculator-app-isolated-black-background-techno-purple-blue-outline-wireframe-ios-style-152868879.jpg);
}


#answer{
    width: 500px;
    height: 75px;
    border: 2px solid rgb(239, 112, 112);
    background-color: whitesmoke;
    font-size: 25px;
    border-radius: 5px;
    
    
}

h1{
    text-align: center;
    color: red;
}


#main-div{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    
}

#number{
    width:500px;
    height: 450px;
    background-color: black;
    font-size: 25px;
    border-radius: 5px;
    
}

.keypad{
    width: 100px;
    height: 120px;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: red;
    border-radius: 5px;

}

#btn-eight{
    margin-left: 120px;
}

.operater{
    width:120px;
    height:100px;
    font-size: 25px;
    background-color: green;
    border-radius: 5px;
}

#add{
    margin-left: 5px;

}

button:hover{
    background-color: aqua;
}